@import url('https://fonts.googleapis.com/css?family=Bitter:400,400i,700');

$fontStackHeadings: Helvetica, Arial, sans-serif;
$fontStackBody: 'Bitter', serif;

$primaryColor: hsl(210, 50%, 50%);