@import url("https://fonts.googleapis.com/css?family=Bitter:400,400i,700");
body, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0; }

body {
  font-family: "Bitter", serif; }

h1, h2, h3, h4, h5, h6 {
  font-family: Helvetica, Arial, sans-serif; }

body {
  font: 1em/150% "Bitter", serif; }
